/* Admin Panel
    Project_Name: Light Weight Admin
    Admin: Dip Sarker
    Github: github.com/freelancerdipsarker
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

/* font-family: 'Roboto', sans-serif; */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  height: 100vh;
  background-color: #f2f3f9;
}
/* gogole class  */
.b-style {
  height: 35px;
  width: 35px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 100%;
  padding: 10px;
  margin: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.b-style:hover {
  background-color: #f2f3f9;
}
main {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "s s h h h h h h h h h h"
    "s s c c c c c c c c c c";
  grid-gap: 5px;
}
.sidebar_area {
  grid-area: s;
  background-color: #2a3042;
  border: 1px solid #eaedf1;
}
.sidebar_area .logo_area {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 50px;
  margin-bottom: 30px;
}
.sidebar_area .logo_area img {
  height: 35px;
}
.sidebar_area .logo_area h2 {
  color: white;
  font-size: 2.4em;
  margin-left: 10px;
}
.sidebar_area ul {
  list-style: none;
}
.sidebar_area ul li {
  text-decoration: none;
  color: #eaedf1;
  padding: 10px 20px;
  border-bottom: 1px solid #eaedf11c;
}
.sidebar_area ul li i {
  font-size: 1.4em;
  margin-right: 10px;
}
.sidebar_area ul li a {
  text-decoration: none;
  color: #eaedf1;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
}
/* header area styleing satrt */
header {
  grid-area: h;
  border: 1px solid #eaedf1;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
header .search_area {
  border: 1px solid #eaedf1;
  max-width: 350px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
}
header .search_area form {
  width: 100%;
  height: 100%;
}
header .search_area input {
  width: 92%;
  height: 100%;
  border: none;
  padding-left: 10px;
}
header .search_area input:focus {
  outline: none;
}
header .search_area i {
  font-size: 1.5em;
}

header .items_area {
  display: flex;
}
header .items_area i {
  font-size: 1.6em;
}
header .profile {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
header .profile img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

/* header area styeing end  */

/* main content area styleing start */
.main_content_area {
  height: 100%;
  grid-area: c;
}
.main_content_area .greetings {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 3em;
}
.main_content_area hr {
  border-top: 1px solid rgb(221, 221, 221);
  margin-top: 10px;
}
.main_content_area .heading {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 10px;
}
.main_content_area .status_area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  grid-gap: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
.main_content_area .status_box {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #eaedf1;
}
.main_content_area .recent_user_and_catagory {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-gap: 10px;
  margin-top: 20px;
}
.recent_user_area {
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
}
.recent_user_area .heading_area {
  border: 1px solid #eaedf1;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.recent_user_area .table_area {
  overflow: auto;
}
.recent_user_area table {
  width: 100%;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.recent_user_area table,
th,
td {
  padding: 5px;
  white-space: nowrap;
}

.catagory_area {
  border: 1px solid red;
}
/* main content area styleing end */
